:root {
  --main: #0f172a;
  --sec: #7f92b0;
  --comp: #0bd1d1;
}

.btn-primary {
  border-radius: 20px;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    #0ea5ea,
    #0bd1d1,
    #0bd1d1,
    #0ea5ea
  );
  padding: 0.8rem 2rem;
  font-size: 1rem;
  background-size: 200%;
  background-position: left;
  color: #f3f3f3;
  transition: all 0.5s ease;
  border: none;
}
.btn-primary:hover {
  background-position: right;
  transform: translateY(-3px);
}
